<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>댓글 수정</p>
    
    <form action="{% url 'update_comment' comment.id %}" method="post">
        {% csrf_token %}
        <p>글쓴이: <input type="text" name="author_name" value="{{ comment.author_name}}"></p>
        본문: <textarea name="comment_text" id="" cols="30" rows="10">{{ comment.comment_text }}</textarea>
        <button type="submit">제출</button>
    </form>

</body>
</html>