.edit-user-section{
    width: 60%;
    margin: 90px auto 100px auto;
}

.edit-user-section h1{
    margin-bottom: 50px;
}


.edit-user-section form button{
    background-color: #5C3471;
    color: white;

    border-style: none;
    border-radius: 13px;

    padding: 3px 10px 3px 10px;

    font-size: large;

    margin-top: 30px;
    width: 120px;
}